label{
            color:darkgreen;
        }
        body{
            background-color: aquamarine;
        }
        .botao{
            background-color: blueviolet;
        }
        h1{
            color:chartreuse
        } 